@font-face {
  font-family: 'Golos Text';
  font-weight: 500;
  src:
    local('Golos Text'),
    local('GolosText'),
    local('Golos-Text'),
    url('fonts/GolosText-Medium.woff2') format('woff2'),
    url('fonts/GolosText-Medium.woff') format('woff'),
}

@font-face {
  font-family: 'Golos Text';
  font-weight: 400;
  src:
    local('Golos Text'),
    local('GolosText'),
    local('Golos-Text'),
    url('fonts/GolosText-Regular.woff2') format('woff2'),
    url('fonts/GolosText-Regular.woff') format('woff'),
}

@font-face {
  font-family: 'Golos Text';
  font-weight: 600;
  src:
    local('Golos Text'),
    local('GolosText'),
    local('Golos-Text'),
    url('fonts/GolosText-SemiBold.woff2') format('woff2'),
    url('fonts/GolosText-SemiBold.woff') format('woff'),
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  src:
    local('Merriweather'),
    local('Merriweather-Regular'),
    url('fonts/Merriweather-Regular.woff2') format('woff2'),
    url('fonts/Merriweather-Regular.woff') format('woff'),
}
